.wpml-ls-legacy-list-vertical{display:table;max-width:100%;border:1px solid transparent;border-bottom:0}.wpml-ls-legacy-list-vertical>ul{position:relative;padding:0;margin:0 !important;list-style-type:none}.wpml-ls-legacy-list-vertical .wpml-ls-item{padding:0;margin:0;list-style-type:none}.wpml-ls-legacy-list-vertical a{display:block;text-decoration:none;border-bottom:1px solid transparent;padding:5px 10px;line-height:1}.wpml-ls-legacy-list-vertical a span{vertical-align:middle}.wpml-ls-legacy-list-vertical .wpml-ls-flag{display:inline;vertical-align:middle;width:18px;height:12px}.wpml-ls-legacy-list-vertical .wpml-ls-flag+span{margin-left:.4em}.rtl .wpml-ls-legacy-list-vertical .wpml-ls-flag+span{margin-left:0;margin-right:.4em}.wpml-ls-legacy-list-vertical.wpml-ls-statics-footer{margin-bottom:30px}

